:root {
    --neutral: #F2F2F2;
    --yellow:  #FFF36D;
    --coral: #F26B6B;
    --turquoise: #2BD9A8;
    --dark: #0D0D0D;
}

body {
    background-color: var(--yellow);
    color: var(--dark);
}

a {
    color:var(--turquoise);
    text-decoration: none;
}

.custom-jumbo {
    background-color: var(--turquoise);
    border-bottom: solid 3px var(--coral);
}

.custom-card-head {
    background-color: var(--coral);
}

.custom-card-bod {
    background-color: var(--neutral);
}

.custom-btn {
    background-color: var(--turquoise);
}